.price {
    padding-bottom: 120px;
    h2 {
        margin-bottom: 31px;
    }
    &__block {
        display: grid;
        margin-top: 60px;
        grid-template: repeat(3, minmax(44px, auto)) / repeat(2, 370px);
        justify-content: space-between;
        align-content: space-between;
        column-gap: 331px;
        row-gap: 15px;
        &-item {
            display: grid;
            position: relative;
            grid-template: repeat(2, minmax(15px, auto)) / minmax(186px, auto) auto;
            justify-content: space-between;
            &-descr {
                font-weight: 500;
                font-size: 12px;
                line-height: 18px;
                width: 340px;
            }
            @include before_circle;
            &:before {
                top: 10%;
                left: -6%;
                width: 15px;
                height: 15px;
            }
        }
    }
}